.css_selecao_projeto_label { }
.css_selecao_projeto_line { }
.css_selecao_projeto_obj { }
.css_transporte_label { }
.css_transporte_line {text-align:left;}
.css_transporte_obj {text-align:left;}
.css_alimentacao_label { }
.css_alimentacao_line {text-align:left;}
.css_alimentacao_obj {text-align:left;}
.css_outros_label { }
.css_outros_line {text-align:left;}
.css_outros_obj {text-align:left;}
