.css_titulo_label { }
.css_titulo_line { }
.css_titulo_obj { }
.css_valor_label {text-align:;}
.css_valor_line {text-align:left;}
.css_valor_obj {text-align:left;}
.css_quartos_label { }
.css_quartos_line { }
.css_quartos_obj { }
.css_area_label { }
.css_area_line {text-align:left;}
.css_area_obj {text-align:left;}
.css_lote_label { }
.css_lote_line {text-align:left;}
.css_lote_obj {text-align:left;}
.css_ano_label { }
.css_ano_line {text-align:left;}
.css_ano_obj {text-align:left;}
.css_descricao_label { }
.css_descricao_line { }
.css_descricao_obj { }
.css_imagem_label { }
.css_imagem_line { }
.css_imagem_obj { }
