.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_img_det_label {text-align: right;vertical-align: middle;}
.css_img_det_line {height:0px;text-align: right;}
.css_titulo_det_label {text-align: right;vertical-align: middle;}
.css_titulo_det_line {height:0px;text-align: right;}
.css_valor_det_label {text-align: right;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: right;}
.css_quartos_det_label {text-align: right;vertical-align: middle;}
.css_quartos_det_line {height:0px;text-align: right;}
.css_area_det_label {text-align: right;vertical-align: middle;}
.css_area_det_line {height:0px;text-align: right;}
.css_lote_det_label {text-align: right;vertical-align: middle;}
.css_lote_det_line {height:0px;text-align: right;}
.css_ano_det_label {text-align: right;vertical-align: middle;}
.css_ano_det_line {height:0px;text-align: right;}
.css_descricao_det_label {text-align: right;vertical-align: middle;}
.css_descricao_det_line {height:0px;text-align: right;}
