.css_id_alfazema_det_label {text-align: left;vertical-align: middle;}
.css_id_alfazema_det_line {height:0px;text-align: left;}
.css_nome_det_label {text-align: left;vertical-align: middle;}
.css_nome_det_line {height:0px;text-align: left;}
.css_bloco_det_label {text-align: left;vertical-align: middle;}
.css_bloco_det_line {height:0px;text-align: left;}
.css_sc_field_0_det_label {text-align: left;vertical-align: middle;}
.css_sc_field_0_det_line {height:0px;text-align: left;}
.css_sc_field_1_det_label {text-align: left;vertical-align: middle;}
.css_sc_field_1_det_line {height:0px;text-align: left;}
.css_placa_det_label {text-align: left;vertical-align: middle;}
.css_placa_det_line {height:0px;text-align: left;}
.css_data_det_label {text-align: left;vertical-align: middle;}
.css_data_det_line {height:0px;text-align: left;}
.css_hora_entrada_det_label {text-align: left;vertical-align: middle;}
.css_hora_entrada_det_line {height:0px;text-align: left;}
