.css_titulo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_titulo_grid_line {vertical-align: top;text-align: left;}
.css_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: right;}
.css_quartos_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_quartos_grid_line {vertical-align: top;text-align: left;}
.css_area_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_area_grid_line {vertical-align: top;text-align: right;}
.css_lote_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_lote_grid_line {vertical-align: top;text-align: right;}
.css_ano_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ano_grid_line {vertical-align: top;text-align: right;}
.css_descricao_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descricao_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_img_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_img_grid_line {vertical-align: top;text-align: left;}
