.css_id_label {text-align:;}
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_nome_label { }
.css_nome_line { }
.css_nome_obj { }
.css_empresa_label { }
.css_empresa_line { }
.css_empresa_obj { }
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_tel_label { }
.css_tel_line { }
.css_tel_obj { }
.css_sc_field_1_label { }
.css_sc_field_1_line { }
.css_sc_field_1_obj { }
.css_cep_label { }
.css_cep_line { }
.css_cep_obj { }
.css_plano_label { }
.css_plano_line { }
.css_plano_obj { }
.css_sistema_label { }
.css_sistema_line { }
.css_sistema_obj { }
.css_valor_label {text-align:;}
.css_valor_line {text-align:left;}
.css_valor_obj {text-align:left;}
.css_tag_label {text-align:;}
.css_tag_line {text-align:left;}
.css_tag_obj {text-align:left;}
.css_ip_label { }
.css_ip_line { }
.css_ip_obj { }
.css_data_time_label { }
.css_data_time_line { }
.css_data_time_obj { }
