.css_id_despesas_det_label {text-align: right;vertical-align: middle;}
.css_id_despesas_det_line {height:0px;text-align: right;}
.css_selecao_projeto_det_label {text-align: right;vertical-align: middle;}
.css_selecao_projeto_det_line {height:0px;text-align: right;}
.css_transporte_det_label {text-align: right;vertical-align: middle;}
.css_transporte_det_line {height:0px;text-align: right;}
.css_alimentacao_det_label {text-align: right;vertical-align: middle;}
.css_alimentacao_det_line {height:0px;text-align: right;}
.css_outros_det_label {text-align: right;vertical-align: middle;}
.css_outros_det_line {height:0px;text-align: right;}
.css_data_det_label {text-align: right;vertical-align: middle;}
.css_data_det_line {height:0px;text-align: right;}
.css_hora_det_label {text-align: right;vertical-align: middle;}
.css_hora_det_line {height:0px;text-align: right;}
