.css_id_atividade_det_label {text-align: right;vertical-align: middle;}
.css_id_atividade_det_line {height:0px;text-align: right;}
.css_nome_da_atividade_det_label {text-align: right;vertical-align: middle;}
.css_nome_da_atividade_det_line {height:0px;text-align: right;}
.css_tipo_de_atividade_det_label {text-align: right;vertical-align: middle;}
.css_tipo_de_atividade_det_line {height:0px;text-align: right;}
.css_data_det_label {text-align: right;vertical-align: middle;}
.css_data_det_line {height:0px;text-align: right;}
.css_time_det_label {text-align: right;vertical-align: middle;}
.css_time_det_line {height:0px;text-align: right;}
