.css_nome_da_atividade_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_da_atividade_grid_line {vertical-align: top;text-align: left;}
.css_data_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_grid_line {vertical-align: top;text-align: center;}
.css_time_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_time_grid_line {vertical-align: top;text-align: center;}
.css_id_atividade_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_atividade_grid_line {vertical-align: top;text-align: right;}
.css_tipo_de_atividade_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_de_atividade_grid_line {vertical-align: top;text-align: left;}
