.css_id_blocos_label {text-align:;}
.css_id_blocos_line {text-align:left;}
.css_id_blocos_obj {text-align:left;}
.css_bloco_label { }
.css_bloco_line { }
.css_bloco_obj { }
.css_numero_label {text-align:;}
.css_numero_line {text-align:left;}
.css_numero_obj {text-align:left;}
