.menu {
border-width:0px;


border-style: solid;


margin:0px 0px 2px 0px;

}
.menu .menu--horizontal {

background-color:#313a46;





}
#idMenuVertical {

background-color:#313a46;





padding:0px;
}

.menu__toggle span {
background-color:#8391a2;
}
.menu__list
{




}

.menu__item, .menu__link {
text-decoration:none;
color:#8391a2;
font-family:sans-serif, Nunito;
font-size:15px;

font-style:none;
text-decoration:none;
}

.menu__list > .menu__item {


border-width:0px;
border-style:solid;

padding:12px;

}

.menu--horizontal .menu__list > .menu__item:first-child {
    {theme_main_borderwidth_item_first}
}
.menu--horizontal .menu__list > .menu__item:last-child {
    {theme_main_borderwidth_item_last}
}

.menu--vertical .menu__list > .menu__item {
  {theme_main_borderwidth_item_vertical}
}
.menu--vertical .menu__list > .menu__item:first-child {
}
.menu--vertical .menu__list > .menu__item:last-child {
}

.menu__list > .menu__item:hover {

}
.menu__list > .menu__item:hover > .menu__link{
color:#fff;
}
.menu__list > .menu__item:hover > .menu__link:after{
border-left: 4px solid #fff;
}
.menu__list > .menu__item:active, .menu__list > .menu__item--active {

}
.menu__list > .menu__item:active > .menu__link, .menu__list > .menu__item--active > .menu__link {
color:#fff;
}
.menu__list > .menu__link:before {

}
.menu__link:after {
    border-top: 4px solid #8391a2;
    border-left: 4px solid #8391a2;
}
.menu__icon {

}
.menu__badge {
font-style: normal;
border-radius: 25px;
padding: 2px 6px;
font-size:0.6empx;
background-color:#0acf97;
color:#fff;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
font-size: 0.85em;
}
.menu__submenu {
display:none;









margin:0px;
border-style: solid;



text-align:left;
}

.menu__submenu .menu__item {



font-style:none;

text-decoration:none;



border-style:solid;




padding:12px;
}

.menu__submenu .menu__item:first-child {
{theme_sub_borderwidth_item_first}
}
.menu__submenu .menu__item:last-child {
{theme_sub_borderwidth_item_last}
}

.menu__submenu .menu__item {
color:#8391a2;
}

.menu__submenu .menu__item:hover {

}
.menu__submenu .menu__item:hover .menu__link {
color:#fff;
}
.menu__submenu .menu__item:hover .menu__link:after {
border-left: 4px solid #fff
}
.menu__submenu .menu__item:active, .menu__submenu .menu__item--active {

}
.menu__submenu .menu__item:active .menu__link, .menu__submenu .menu__item--active .menu__link {
color:#fff;
}
@media only screen and (max-width: 576px) {
  .menu {
    font-family:sans-serif, Nunito;
    font-size:15px;
      border-bottom: 1px solid transparent;
      padding: 0;
    }
    .menu:before {
    background-color:#313a46;
    
    }
    .menu:after {
      background-color:    rgba(0, 0, 0, 0.5);
    }
    .menu .menu__container {
    background-color:#313a46;
    }
    .menu .menu__item,
    .menu .menu__item:hover {
    border-bottom: 1px solid 
    }
    .menu .menu__item--active,
    .menu .menu__item:hover--active {
    
    }
    .menu .menu__item--active > .menu__link,
    .menu .menu__item:hover--active > .menu__link {
    color:#fff;
    }
    .menu .menu__item:hover--active > .menu__link:after {
    border-left: 4px solid #fff
    }
    .menu .menu__link,
    .menu .menu__item:hover .menu__link {
    color:#8391a2;
    }
    .menu .menu__submenu .menu__item:hover {
    : transparent;
      border-bottom: 0;
    }
    .menu .menu__submenu .menu__link:before {
    color:#8391a2;
    }
    .menu .menu__item--withsubmenu > .menu__link:after {
    border-left: 4px solid #fff
    }
    .menu__list > .menu__item {
        {theme_main_borderwidth_item_vertical}
    }
    #idMenuHeader
    {
      display:none;
    }
    #idMenuVertical
    {
      box-shadow:none;
      margin:0px;
    }
}