.css_nome_label { }
.css_nome_line { }
.css_nome_obj { }
.css_idade_label { }
.css_idade_line {text-align:left;}
.css_idade_obj {text-align:left;}
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_leito_label { }
.css_leito_line {text-align:left;}
.css_leito_obj {text-align:left;}
.css_registro_label { }
.css_registro_line {text-align:left;}
.css_registro_obj {text-align:left;}
.css_atendimento_label { }
.css_atendimento_line {text-align:left;}
.css_atendimento_obj {text-align:left;}
.css_data_label { }
.css_data_line { }
.css_data_obj { }
.css_hora_label { }
.css_hora_line { }
.css_hora_obj { }
