.css_id_paciente_det_label {text-align: left;vertical-align: middle;}
.css_id_paciente_det_line {height:0px;text-align: left;}
.css_nome_det_label {text-align: left;vertical-align: middle;}
.css_nome_det_line {height:0px;text-align: left;}
.css_idade_det_label {text-align: left;vertical-align: middle;}
.css_idade_det_line {height:0px;text-align: left;}
.css_sc_field_0_det_label {text-align: left;vertical-align: middle;}
.css_sc_field_0_det_line {height:0px;text-align: left;}
.css_leito_det_label {text-align: left;vertical-align: middle;}
.css_leito_det_line {height:0px;text-align: left;}
.css_registro_det_label {text-align: left;vertical-align: middle;}
.css_registro_det_line {height:0px;text-align: left;}
.css_atendimento_det_label {text-align: left;vertical-align: middle;}
.css_atendimento_det_line {height:0px;text-align: left;}
.css_data_det_label {text-align: left;vertical-align: middle;}
.css_data_det_line {height:0px;text-align: left;}
.css_hora_det_label {text-align: left;vertical-align: middle;}
.css_hora_det_line {height:0px;text-align: left;}
