.css_id_client_det_label {text-align: left;vertical-align: middle;}
.css_id_client_det_line {height:0px;text-align: left;}
.css_nome_da_empresa_det_label {text-align: left;vertical-align: middle;}
.css_nome_da_empresa_det_line {height:0px;text-align: left;}
.css_cnpj_det_label {text-align: left;vertical-align: middle;}
.css_cnpj_det_line {height:0px;text-align: left;}
.css_sc_field_0_det_label {text-align: left;vertical-align: middle;}
.css_sc_field_0_det_line {height:0px;text-align: left;}
.css_email_det_label {text-align: left;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: left;}
.css_setor_det_label {text-align: left;vertical-align: middle;}
.css_setor_det_line {height:0px;text-align: left;}
.css_tel_det_label {text-align: left;vertical-align: middle;}
.css_tel_det_line {height:0px;text-align: left;}
.css_outros_det_label {text-align: left;vertical-align: middle;}
.css_outros_det_line {height:0px;text-align: left;}
.css_data_det_label {text-align: left;vertical-align: middle;}
.css_data_det_line {height:0px;text-align: left;}
.css_hora_det_label {text-align: left;vertical-align: middle;}
.css_hora_det_line {height:0px;text-align: left;}
