.css_id_atividade_mp_det_label {text-align: right;vertical-align: middle;}
.css_id_atividade_mp_det_line {height:0px;text-align: right;}
.css_selecao_projetos_det_label {text-align: right;vertical-align: middle;}
.css_selecao_projetos_det_line {height:0px;text-align: right;}
.css_tag_det_label {text-align: right;vertical-align: middle;}
.css_tag_det_line {height:0px;text-align: right;}
.css_selecao_atividade_det_label {text-align: right;vertical-align: middle;}
.css_selecao_atividade_det_line {height:0px;text-align: right;}
.css_data_det_label {text-align: right;vertical-align: middle;}
.css_data_det_line {height:0px;text-align: right;}
.css_hora_inicio_det_label {text-align: right;vertical-align: middle;}
.css_hora_inicio_det_line {height:0px;text-align: right;}
.css_hora_final_det_label {text-align: right;vertical-align: middle;}
.css_hora_final_det_line {height:0px;text-align: right;}
.css_descricao_det_label {text-align: right;vertical-align: middle;}
.css_descricao_det_line {height:0px;text-align: right;}
