.css_selecao_cliente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_selecao_cliente_grid_line {vertical-align: top;text-align: right;}
.css_nome_do_projeto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_do_projeto_grid_line {vertical-align: top;text-align: right;}
.css_data_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_grid_line {vertical-align: top;text-align: center;}
.css_time_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_time_grid_line {vertical-align: top;text-align: center;}
.css_id_projeto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_projeto_grid_line {vertical-align: top;text-align: right;}
.css_numb_projeto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numb_projeto_grid_line {vertical-align: top;text-align: right;}
